{% extends 'base.html' %}

{% block body %}





<!-- this part to get the word cloud -->
<div class = "container">
{% if result %}

<div class="container">
  <h2>Here are your results</h2>
  <p>Click on the titles to minimize the windows</p>


  <div class="panel-group" id="accordion">

    {% for key, value in result.items() %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ key }}">{{ key }}</a>
          </h4>
        </div>
        <div id="{{ key }}" class="panel-collapse collapse in">
          <div class="panel-body"> 

            
            <div class="container">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Surah</th>
                    <th>Ayah</th>
                    <th>Text</th>
                  </tr>
                </thead>
                <tbody>
                  {% for verse_details in value %}
                    {% if verse_details["Proximity"] >= 85 %}


                      <tr>
                        <td style ="word-break:break-word;">{{verse_details["Surah"]}}</td>
                        <td style ="word-break:break-word;">{{verse_details["Ayah"]}}</td>
                        <td style ="word-break:break-word;"><a href="http://tanzil.net/#{{verse_details["Surah"]}}:{{verse_details["Ayah"]}}">{{verse_details["Text"]}}</a></td>
                        
                      </tr>
                    {% endif %}

                    {% endfor %}


                </tbody>
              </table>
            </div>






          </div>
        </div>
      </div>



    {% endfor %}






  </div>


</div>







{% else %}
    <p>No result yet.</p>
{% endif %}




</div>






{% endblock %}
